hr{
  color: #8a8988;
  height: 1px;
  border:1px dashed;
}

h5{
  font-weight: bolder;
}

p{
  font-size: 10pt;
}

span {
  font-size: 10pt;

}

input{
  font-size: 10pt;
  color: #b2afab;

}

i{
  font-size: 10pt;
  font-weight: bold;
}
