i{
  font-size: 8pt;
  font-weight: bold;
}

p{
  font-size: 10pt;
}

h1{
  font-weight: bolder;
}

h5{
  font-weight: bolder;
}

.form-control{
  font-size: 10pt;
  width: 100%;
}

button{
  font-size: 10pt;
  width: 100%;
}

.checked{
  box-shadow: #895bde;
}


