i{
  font-size: 8pt;
  font-weight: bold;
}

p{
  font-size: 10pt;
}

h1{
  font-weight: bolder;
}

h5{
  font-weight: bolder;
}

.form-control{
  font-size: 10pt;
  width: 100%;
}

button{
  font-size: 10pt;
  width: 100%;

}

.camp{
  color: rgb(232, 65, 107);
  font-size: 9pt;
}

.checked{
  box-shadow:rgb(46, 43, 226);
}


