
<form [formGroup]="checkForm">

<div class="row d-flex justify-content-center">

<!-- 0 -->
  <div class="container card w-75 shadow m-3">
    <div class="row justify-content-center p-3">
      <div class="card-body col-12 col-sm-4">
        <h5 class="card-title">{{ products[0].title }}</h5>
        <p class="card-text">{{ products[0].description }}</p>
      </div>
      <div class="card-body col-12 col-sm-5  d-flex justify-content-around">
        <h1 class="card-title">{{ products[0].price }}
          <i class="fa-solid fa-euro-sign fa-xs" style="color: #000000;"></i>
        </h1>
      </div>
      <div class="form-check col-12 col-sm-3 card-body d-flex justify-content-end">
        <p><input
          class="form-check-input"
          type="checkbox" formControlName="c0" id="c0">Afegir</p>
        <label class="form-check-label" for="c0"></label>
      </div>

    </div>
  </div>


<!-- 1 -->
  <div class="container card w-75 shadow m-3">
    <div class="row p-3">
      <div class="card-body col-12 col-sm-4">
        <h5 class="card-title">{{ products[1].title }}</h5>
        <p class="card-text">{{ products[1].description }}</p>
      </div>
      <div class="card-body col-12 col-sm-5  d-flex justify-content-center align-items-center">
        <h1 class="card-title">{{ products[1].price }}
          <i class="fa-solid fa-euro-sign fa-xs" style="color: #000000;"></i>
        </h1>
      </div>
      <div class="card-body col-12 col-sm-3 form-check d-flex justify-content-end align-items-center">
        <p><input
          class="form-check-input"
          type="checkbox" formControlName="c1" id="c1">Afegir</p>
        <label class="form-check-label" for="c1"></label>
      </div>

    </div>
  </div>


  <!-- 2 -->
  <div class="container card w-75 shadow m-3">
    <div class="row p-3">
      <div class="card-body col-12 col-sm-4">
        <h5 class="card-title">{{ products[2].title }}</h5>
        <p class="card-text">{{ products[2].description }}</p>
      </div>
      <div class="card-body col-12 col-sm-5  d-flex justify-content-center align-items-center">
        <h1 class="card-title">{{ products[2].price }}
          <i class="fa-solid fa-euro-sign fa-xs" style="color: #000000;"></i>
        </h1>
      </div>
      <div class="card-body col-12 col-sm-3 form-check d-flex justify-content-end align-items-center">
        <p><input
          class="form-check-input"
          type="checkbox" formControlName="c2" id="c2">Afegir</p>
        <label class="form-check-label" for="c2"></label>
      </div>


      @if(checkForm.get('c2')?.value){
        <app-panel (productPrice)="budgetAndExtra($event)" ></app-panel>
        }

    </div>
  </div>


<!-- SUMA PRESSUPOST -->
  <div class="container w-75">
    <div class="row d-flex justify-content-end pt-3 pb-3">
      <div class="col-9 text-end pt-2">
        <p class="fw-bold"> Preu pressupostat:</p>
      </div>
      <div class="col-3 text-end">
        <h4 class="fw-bold fs-2 ps-2">{{ addProducts }}
        <i class="fa-solid fa-euro-sign fa-xs" style="color: #000000;"></i></h4>
     </div>
    </div>
  </div>
</div>
</form>


<!-- Intro dades per demanar pressupost, budgetForm només funciona si es fa check abans a productes de checkForm -->

<div class="row d-flex justify-content-center">
  <div class="container card w-75 shadow m-3 p-3">

    <form [formGroup]="budgetForm" autocomplete="off">

      <h5 class="pt-2 pb-3">Demanar pressupost</h5>

      <div class="row mb-3">
         <div class="form-group col-12 d-md-flex pb-3">

          <!-- Nom -->
          <div class="col me-2 mb-2">
            <input type="text"
                    class="form-control"
                    formControlName="name"
                    placeholder="Nom i cognoms">

            <span *ngIf="isValidField('name')"  class="form-text text-danger">
                      *Introdueix el teu nom.
            </span>
          </div>

          <!-- phone -->
          <div class="col me-2 mb-2">
            <input type="number"
                  class="form-control"
                  formControlName="phone"
                  placeholder="Telèfon">

            <span *ngIf="isValidField('phone')"  class="form-text text-danger">
                  *Introdueix un telèfon vàlid de 9 xifres.
            </span>
          </div>

          <!-- Email -->
          <div class="col me-2 mb-2">
            <input type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Email">

            <span *ngIf="isValidField('email')"  class="form-text text-danger">
                      *Introdueix un email vàlid.
            </span>
          </div>

          <div class="row">
              <div class="col me-2 mb-2">
                  <button
                  (click)="onSave()"
                  class="btn btn-primary float-end" type="submit"> Sol.licitar pressupost</button>
              </div>
          </div>
         </div>
        </div>
      </form>
  </div>
</div>


<app-budget-list></app-budget-list>




